@model IEnumerable<Cinema.Models.Ticket>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Film.Title)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.TicketID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.TicketID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.TicketID">Delete</a>
        </td>
    </tr>
}